<!-- Header -->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>
<!-- Content For Sub-menu -->
<ion-content no-padding>
    <ion-list no-padding no-margin *ngIf="pages.length > 0">
        <button ion-item no-padding item-title submenu *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
    </button>
    </ion-list>
</ion-content>
