/*  #Style Full image with CTA
===========================================*/
expandable-layout-2 {
  li {
    list-style-type: none;
    &[margin] {
      margin: 5px 10px;
    }
  }

  [background-size] {
    @include darkening-blend-mode;
    height: 130px;
    position: relative;
    margin-bottom: 5px !important;

    .item-inner {
      padding: 0;
    }

    [default-button] {
      padding: 0 1.1em;
      height: 3.6rem;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }

    [item-title] {
      position: absolute;
      bottom: 20px;
      left: 10px;
    }
  }

  [icon-small] {
    font-size: icon-size('icon-small') !important;
    color: theme-colors('mainColors', 'accent') !important;
  }

  .item-accordion {
    width: 100%;
    height: 0;
    display: block !important;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    overflow: hidden;

    &.active {
      height: 161px !important;
    }

    ion-item {
      background-color: theme-colors('mainColors', 'secondary') !important;
      border-radius: $border-radius !important;
      margin-bottom: 5px;
      min-height: 35px;
      display: block;

    }

    [subitem-title] {
      color: theme-colors('mainColors', 'accent') !important;
    }

    ion-label {
      margin: 0;
    }
  }
}
