/*  #Style List big image
===========================================*/
expandable-layout-1 {
  li {
    list-style-type: none;
  }

  [social] {
    @include social;
    margin-top: 30px;
  }

  .collapsible-header {
    ion-thumbnail {
      img {
        width: 130px;
        height: 130px;
      }
    }
  }

  .item-accordion {
    height: 0;
    display: block !important;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;

    &.active {
      height: 385px !important;
    }
  }
}
