<!--SPLASH SCREEN FASE IN + KERN BURNS 1 component-->
<ion-content *ngIf="params.splashScreensLayout1">
  <splash-screen-layout-1 [data]="params.data" [events]="params.events">
  </splash-screen-layout-1>
</ion-content>

<!--SPLASH SCREEN DOWN + FADE IN + KEN BURNS component-->
<ion-content *ngIf="params.splashScreensLayout2">
  <splash-screen-layout-2 [data]="params.data" [events]="params.events">
  </splash-screen-layout-2>
</ion-content>

<!--SPLASH SCREEN DOWN + KEN BURNS component-->
<ion-content *ngIf="params.splashScreensLayout3">
  <splash-screen-layout-3 [data]="params.data" [events]="params.events">
  </splash-screen-layout-3>
</ion-content>