<!-- Theme Search bars Field + header -->
<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col col-12>
      <div background-size container-hearder-image [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <div class="search-bar-bcg">
          <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
        </div>
      </div>
    </ion-col>
    <!-- List -->
    <ion-col col-12>
      <ion-list no-margin>
        <ion-item item-bcg *ngFor="let item of data.items;" (click)="onEvent('onItemClick', item)">
          <ion-icon icon-medium item-left>
            <i class="icon {{item.icon}}"></i>
          </ion-icon>
          <h2 item-title>{{item.title}}</h2>
          <h3 item-subtitle>{{item.description}}</h3>
          <span span-medium>{{item.price}}</span>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
