/*  #Style First Screen (Home)
================================================*/
page-home {
    [background-size] {
    height: 100%;
    width: 100%;
    display: table;

    [ionic-descript] {
      display: table-cell;
      vertical-align: middle;

      h2[item-title] {
        margin: 0;
      }

      p[item-subtitle] {
        color: theme-colors('mainColors', 'secondary') !important;
      }
    }

    a {
      color: theme-colors('textColors', 'accent') !important;
      text-decoration: underline;
      visibility: visible !important;
      position: absolute;
      bottom: 25px;
      left: 25px;
    }
  }
}
