<!--Wizard component-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>{{params.title}}</ion-title>
  </ion-navbar>
</ion-header>

<!--Conetnt-->
<ion-content no-margin no-padding *ngIf="params.data != null">
  <wizard-layout-1 *ngIf="params.wizardLayout1" [data]="params.data" [events]="params.events">
  </wizard-layout-1>

  <wizard-layout-2 *ngIf="params.wizardLayout2" [data]="params.data" [events]="params.events">
  </wizard-layout-2>

  <wizard-layout-3 *ngIf="params.wizardLayout3" [data]="params.data" [events]="params.events">
  </wizard-layout-3>
</ion-content>