/*  #Style Login + logo
================================================*/
login-layout-1 {
  ion-col {
  position: relative;

    [button-clear] {
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }

  img {
    max-width: 100px;
    max-height: 100px;
    margin: 35px auto 20px;
  }

  .text-input,
  ion-label {
    color: theme-colors('textColors', 'primary') !important;
  }

  .item-inner {
    border-bottom-color: theme-colors('mainColors', 'secondary') !important;
    box-shadow: none !important;
  }

  [default-button] {
    margin-top: 20px;
  }

  [social] {
    margin: 20px auto 0;
    overflow: hidden;

    button {
      margin: 1%;
      width: 48.5%;
      display: block;
      float: left;
    }

    > button:nth-child(2n) {
      margin-right: 0;
    }
  }
}
