/*  #Style Styled cards
================================================*/

google-card-layout-1 {
    [card-img] {
        width: 130px;
        height: 220px;
        position: relative;
        margin-right: 10px;
    }

    [card-title] {
        line-height: normal !important;
        margin-bottom: 0;
        margin-top: 0;
    }
    [card-subtitle] {
        margin: 0;
    }
    [card-body-text] {
        padding-top: 20px;
        margin-bottom: 25px;
    }
}
