<!---Image gallery components-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>{{params.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <image-gallery-layout-1 *ngIf="params.imageGalleryLayout1" [data]="params.data" [events]="params.events">
  </image-gallery-layout-1>

  <sub-image-gallery *ngIf="params.imageGallerySubcategory" [data]="params.data" [events]="params.events">
  </sub-image-gallery>

  <image-gallery-layout-2 *ngIf="params.imageGalleryLayout3" [data]="params.data" [events]="params.events">
  </image-gallery-layout-2>
</ion-content>